
//text
$main-text-color: rgba(0, 0, 0, 0.87);
$information-text-color: rgb(41, 98, 255);
$placholder-color: rgba(0, 0, 0, 0.4);

//link and buttons
$main-link-color: rgb(41, 98, 255);

//border
$border-color: rgb(165, 165, 165);